body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    color: #343a40;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}

.alert-danger {
    color: red;
}

.home-link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #28a745; /* Bootstrap Primary Color */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.home-link:hover {
    background-color: #28a745; /* Darker Blue */
    transform: translateY(-3px);
    text-decoration: none;
}

.home-link:active {
    background-color: #28a745; /* Even Darker Blue */
    transform: translateY(0);
}
